APP_NAME=Lychee
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8001
APP_FORCE_HTTPS=false

DEBUGBAR_ENABLED=false
LOG_VIEWER_ENABLED=true

DB_CONNECTION=sqlite
DB_DATABASE=/app/database/sqlite/database.sqlite

CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_CONNECTION=sync
